{{>header}}
<h1>about</h1>


{{#if check}}
<p>check</p>
{{else}}
<h1>else</h1>
{{/if}}

{{#unless check}}
<h1>unless</h1>
{{/unless}}

{{#each people as |val key|}}
{{!-- <p>{{this}}</p> --}}
{{!-- {{.}} --}}
<h1>{{key}} {{val}}</h1>
{{/each}}
<h1>object</h1>
{{#each obj as |val key|}}
{{!-- {{this}} --}}
{{!-- {{@key}} --}}
<h1>{{key}} : {{val}}</h1>
{{/each}}

{{lookup obj 'age'}}
{{lookup people 0}}
{{add 50 8}}
{{>footer}}

{{#with obj as |x|}}
<h1>{{x.age}}</h1>
{{/with}}